Repository chrisjuchem/mtgvrd: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, pylint, prettier, eslint

black:
  name: black
  entry: black -l 100
  language: system

isort:
  name: isort
  entry: isort -l 100 --profile black
  language: system

pylint:
  name: pylint
  entry: pylint --rcfile=.pylintrc --reports=no
  language: system

prettier:
  name: prettier
  entry: bash -c "yarn --cwd app/client prettier --write --list-different $(echo $@ | sed 's#app/client/##g')" prettier
  language: system

eslint:
  name: eslint
  entry: bash -c "yarn --cwd app/client eslint --max-warnings 0 $(echo $@ | sed 's#app/client/##g')" eslint
  language: system

fix logout error when no session
  app/server/blueprints/login.py
Due: black, isort, pylint

Add Procfile & other dev environment improvements
  Procfile
  README.md
  db.sh
  first_time_setup.sh
  launch_dev.sh
Due: none

API list helpers, auth update, shebang fix
  app/server/app.py
  app/server/decorators/auth.py
  app/server/formatters/list.py
  app/server/trafarets/utils.py
  launch_dev.sh
Due: black, isort, pylint

Add players to draft
  README.md
  app/db/models/draft.py
  app/db/models/user.py
  app/db/versions/20220804_210441_add_users_to_draft_tables_12fe4c066e38.py
  app/server/blueprints/draft.py
  app/server/enums.py
  app/server/formatters/draft.py
  app/server/trafarets/draft.py
Due: black, isort, pylint

WIP
  .gitignore
  README.md
  app/server/.gitignore
  app/server/config.py
  app/server/trafarets/utils.py
  app/tests/__init__.py
  app/tests/conftest.py
  app/tests/helpers.py
  app/tests/initial_test.py
  db.sh
  docker-compose.test.yaml
  env.sh
  first_time_setup.sh
  launch_dev.sh
  requirements-dev.txt
  run_pytest.sh
  secrets.sh
  start_app.sh
Due: black, isort, pylint

Initial test framework
  .gitignore
  README.md
  app/client/src/components/nav/nav.js
  app/client/src/contexts/login.js
  app/client/src/util/useFetch.js
  app/server/.gitignore
  app/server/blueprints/login.py
  app/server/blueprints/user.py
  app/server/config.py
  app/server/trafarets/utils.py
  app/tests/__init__.py
  app/tests/conftest.py
  app/tests/helpers.py
  app/tests/login_test.py
  db.sh
  docker-compose.test.yaml
  docker/Dockerfile_postgres
  env.sh
  first_time_setup.sh
  launch_dev.sh
  requirements-dev.txt
  run_pytest.sh
  start_app.sh
Due: black, isort, pylint, prettier, eslint

refector session testing
  app/tests/conftest.py
  app/tests/test_login.py
  app/tests/test_users_api.py
Due: black, isort, pylint

Testing improvements
  app/startup.sh
  app/tests/conftest.py
  app/tests/helpers.py
  app/tests/test_login.py
  run_pytest.sh
Due: black, isort, pylint

Draft options and some test
  .pylintrc
  app/db/models/draft.py
  app/db/versions/20220809_114450_add_draft_options_6f8487781c8b.py
  app/server/blueprints/draft.py
  app/server/formatters/draft.py
  app/server/trafarets/draft.py
  app/tests/conftest.py
  app/tests/test_draft.py
Due: black, isort, pylint

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  pylint: any of: \.py$
  prettier: any of: \.(js|mjs|cjs)$, \.scss$, \.css$, \.(html|htm|xhtml)$
  eslint: any of: \.(js|mjs|cjs)$
